@mau_trang: #ffffff;
@mau_den: #333333;
@border: 1px solid #efefef;
@chu_mem: "Cormorant Garamond";
@chu_cung: "Fira Sans";


p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    text-decoration: none;
}

header {
    background-image: url('../image/bg.jpg');
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  
}

.icon1 {
    font-size: 32px;
    line-height: 21px;
    color: @mau_trang;
}

.icon2 {
    font-size: 28px;
    margin-top: 2px;
    color:@mau_trang;
}

#gio-hang {
    background-color: @mau_trang;
    font-size: 12px;
    line-height: 21px;
    color: @mau_den;
    font-weight: 700;
    font-family: "Lato";
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 15px;
    top: -6px;
    margin-top: 5px;
    margin-left: 3px;
}

.logo {
    margin-top: -27px;
}


.header-content {
    height: 139px;
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0px;
}

.menu {
    margin-right: 6px;
    margin-top: -29px;
    display: flex;
    max-width: 113px;
    width: 100%;
    justify-content: space-between;
    div {
        margin-left: 14px;
        position: relative;
    }
    
}

.chu {
    max-width: 1720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 290px;
    margin-top: 207px;

}

.word-left {
    margin-left: 16.1%;
    button { 
        font-size: 16px;
        letter-spacing: 2.5px;
        line-height: 38px;
        color: @mau_trang;
        font-weight: 700;
        font-family: @chu_cung;
        max-width: 196px;
        width: 100%;
        background-color: @mau_den;
        margin-left: -1px;
    }
    
}

#mua {
    font-size: 25px;
    letter-spacing: 12px;
    line-height: 23px;
    color: #696969;
    font-family: @chu_cung;
}

#shine {
    width: 900px;
    font-size: 96px;
    letter-spacing: 32px;
    line-height: 100px;
    color: @mau_den;
    font-weight: 530;
    font-style: oblique;
    font-family: @chu_mem;
    margin-top: 37px;
    margin-bottom: 40px;
}

.social {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 40px;
    color: wheat;
    font-weight: 500;
    font-family: @chu_mem;
    text-align: right;
    margin-top: 77px;
    margin-right: 1px;
    a {
        color: wheat;
        &:hover {
            color: @mau_trang;
        }
    } 
}

.intro {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: @border;
}
.introx (@height: 0px, @max_width: 0px, @width: 0px) {
    height: @height;
    max-width: @max_width;
    width: @width;
}
.intro1 {
    .introx(82px, 375px, 100%);
}

.intro2 {
    border-left: @border;
    border-right: @border;
    .introx(82px, 382px, 100%);
    .service {
        margin-top: 21px;
        margin-left: -11px;
    }
    .feature-service {
        margin-left: -13px;
    }
}

.intro3 {
    border-right: @border;
    .introx(82px, 400px, 100%);
    .service {
        margin-top: 21px;
        margin-left: 7px;
    }
    .feature-service {
        margin-left: 6px;
    }
}

.intro4 {
    border-right: @border;
    .introx(82px, 384px, 100%);
    .service {
        margin-top: 21px;
        margin-left: -9px;
    }
    .feature-service {
        margin-left: -11px;
    }
}

.intro5 {
    .introx(82px, 375px, 100%);
}


.service {
    letter-spacing: 2px;
    line-height: 28px;
    font-weight: 700;
    font-family: @chu_mem;
    text-align: center;
    a {
        color: black;
        font-size: 17.5px;
        &:hover {
            color: #92c5d9;
            font-size: 20px;
            transition: all ease-in-out 0.5s;
        }
    }
}

.feature-service {
    font-size: 14px;
    color: #ababab;
    font-weight: 400;
    font-family: @chu_cung;
    text-align: center;
    line-height: 23px;
}

.phase {
    width: 778px;
    margin: 0 auto;
    padding-top: 9px;
    margin-top: 102px;
    margin-bottom: 122px;
    font-size: 33px;
    line-height: 49px;
    color: @mau_den;
    font-family: @chu_mem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.36px;
}

.feature-items1 {
    max-width: 1720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.feature-items2 {
    .feature-items1();
    margin-top: 47px;
}

.item1,
.item2, 
.item3, 
.item4, 
.item5, 
.item6 {
    position: relative;
    overflow: hidden;
    &:hover {
        .hang-hoa {
            transition: all ease-in-out 0.5s;
            transform: scale(1.5);
        }

    }
}

.vong {
    position: absolute;
    left: 72px;
    font-size: 26px;
    top: 405px;
    letter-spacing: 0.2px;
    color: @mau_den;
    font-weight: 500;
    font-family: @chu_cung;
}

.nhanla {
    position: absolute;
    left: 109px;
    top: 403px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 36px;
    color: @mau_den;
    font-weight: 400;
    font-family: @chu_cung;
    word-spacing: -1px;
}

.gia {
    position: absolute;
    left: 157px;
    top: 453px;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #d6ba8d;
    font-family: @chu_cung;

}

#sale { 
    left: 600px;
    top: 109px;
    position: absolute;
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 64px;
    color: @mau_den;
    font-weight: 700;
    font-family: @chu_cung;
}

#bay {
    left: 582px;
    top: 158px;
    position: absolute;
    font-size: 98px;
    color: @mau_den;
    font-weight: 700;
    font-family: @chu_mem;
}

#phantram {
    left: 625px;
    top: 157px;
    position: absolute;
    font-size: 100px;
    color: @mau_den;
    font-weight: 700;
    letter-spacing: -3px;
    font-family: @chu_mem;

}

#select {
    left: 553px;
    top: 272px;
    position: absolute;
    font-size: 24px;
    line-height: 64px;
    color: #696969;
    font-weight: 500;
    font-family: @chu_mem;

}

#shop {
    left: 613px;
    top: 385px;
    position: absolute;
    font-size: 12px;
    letter-spacing: 3.9px;
    color: #696969;
    font-weight: 600;
    font-family: @chu_cung;
}

#nhan {
    position: absolute;
    word-spacing: 14px;
    letter-spacing: 2px;
    font-size: 69px;
    color: #d6ba8d;
    font-weight: 700;
    font-family: @chu_mem;
    left: 48px;
    top: 373px;
}

#collection {
    position: absolute;
    font-size: 15px;
    letter-spacing: 2.15px;
    line-height: 24px;
    color: @mau_den;
    font-weight: 400;
    font-family: @chu_cung;
    left: 50px;
    top: 333px;
}

.rose {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    color: @mau_den;
    font-weight: 400;
    font-family: @chu_cung;
    position: absolute;

}

.princess {
    position: absolute;
    width: 296px;
    letter-spacing: 0.5px;
    font-size: 47px;
    line-height: 56px;
    color: @mau_den;
    font-weight: 6500;
    font-weight: 700;
    font-family: @chu_mem;
    top: 137px;
    left: 53px;
}

.plate {
    position: absolute;
    top: 270px;
    left: 56px;
    font-size: 14px;
    word-spacing: -2px;
    letter-spacing: 1.1px;
    line-height: 24px;
    color: #696969;
    font-family: @chu_cung;
}

.feature {
    font-size: 55px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: @mau_den;
    font-weight: 700;
    font-family: @chu_mem;
}

.view {
    margin-top: 11px;
    margin-right: 36px;
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 31px;
    color: @mau_den;
    font-weight: bold;
    font-family: @chu_cung;
    a {
        color: @mau_den;
        &:hover {
            color: #92c5d9;
        }
    }
}

.icon3 {
    color: #d6ba8d;
    position: relative;
    top: -27px;
    left: 99px;
    font-size: 17px;
}

.headding {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 136px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.tensp {
    font-size: 14px;
    letter-spacing: 0.7px;
    font-family: @chu_cung;
    text-align: center;
    margin-top: 14px;
    margin-left: 1px;
    a {
        color: @mau_den;
        &:hover {
            color: #92c5d9;
        }
    }
}

.giatri {
    font-size: 14.5px;
    letter-spacing: 1.9px;
    line-height: 28px;
    color: #d6ba8d;
    font-family: @chu_cung;
    text-align: center;
    margin-top: 3px;
    padding-left: 5px;
}


.product {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nut_an {
    opacity: 0;
    color: #cccccc;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: @mau_den;
}

.add {
    opacity: 0;
    padding-top: 2px;
    padding-left: 12px;
    width: 147px;
    height: 40px;
    background-color: #d6ba8d;
    position: absolute;
    top: 280px;
    border: none;
    font-size: 15px;
    color: @mau_trang;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-family: @chu_cung;
}

.tim {
    .nut_an();
    padding-top: 7px;
    left: 148px;
    top: 280px;

}

.bieudo {
    .nut_an();
    padding-top: 8px;
    left: 188px;
    top: 280px;
}

.timkiem {
    .nut_an();
    padding-top: 4px;
    padding-left: 8px;
    top: 280px;
    left: 228px;
}

#product2 {
    margin-top: 26px;
}

.product div:hover {
    position: relative;
    .tim,
    .timkiem,
    .bieudo,
    .add {
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
}

.blog {
    margin: 0 auto;
    background-color: #faf9f9;
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin-top: 117px;
}

.update {
    font-size: 54px;
    color: @mau_den;
    font-family: @chu_mem;
    text-align: center;
    transform: translate(1px, -38px);
    letter-spacing: 1px;
    font-weight: 700;
}

.blogs {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.blog1 {
    background-color: @mau_trang;
    height: 462px;
    a p:hover {
        color: #92c5d9;
    }
    
    img {
        overflow: hidden;
        &:hover{
            transform: scale(1.1);
            transition: all ease-in-out 0.5s;
        }
    }
    
    
}

.time {
    margin-left: 33px;
    margin-top: -1px;
    font-size: 14.5px;
    letter-spacing: 1.2px;
    line-height: 67px;
    color: #cccccc;
    font-family: @chu_cung;
}

.title {
    margin-left: 33px;
    margin-top: -3px;
    width: 298px;
    height: 114px;
    font-size: 23.5px;
    letter-spacing: 1.35px;
    line-height: 32px;
    color:@mau_den;
    font-weight: 700;
    font-family: @chu_mem;
}

.like {
    font-size: 14px;
    line-height: 32px;
    color: #696969;
    font-weight: 400;
    font-family: @chu_cung;
}

.eye {
    margin-left: 32px;
    font-size: 16px;
    color: #92c5d9;
    position: relative;
    left: -6px;
    top: 4px;
    
}

.views {
    font-size: 14px;
    color: #696969;
    font-weight: 400;
    font-family: @chu_cung;
}

.share {
    position: relative;
    top: 4px;
    left: -5px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 32px;
    color: #92c5d9;
}

.line {
    margin: 0 auto;
    width: 310px;
    height: 1px;
    background-color: #eeeeee;
}

.likeview {
    padding-left: 7px;
    line-height: 50px;
    padding-top: 1px;
    position: absolute;
}

.buttonblog {
    border: none;
    margin-top: 80px;
    margin-bottom: 100px;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.07));
    width: 143px;
    height: 16px;
    background-color: @mau_trang;
    p {
    
        font-size: 24px;
        line-height: 28px;
        color:@mau_den;
        font-weight: 400;
        font-family: @chu_mem;
        margin-left: -5px;
        transform: translate(0px, -16px );
    }
}

.line2 { 
    width: 1170px;
    height: 1px;
    background-color: #eeeeee;
    margin: 0 auto;
}

.brands {
    max-width: 1135px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    height: 199px;
    align-items: center;
    display: block;
    position: relative;

}

.brandx(@left: 0px, @top: 0px) {
    position: absolute;
    left: @left;
    top: @top;
}

.brand1 {
    .brandx(7px, 65px)
}

.brand2 {
    .brandx(203px, 76px)
}

.brand3 {
    .brandx(412px, 73px)
}

.brand4 {
    .brandx(611px, 59px)
}

.brand5 {
    .brandx(814px, 63px)
}

.brand6 {
    .brandx(989px, 87px)
}

footer {
    width: 1920px;
    background-color: @mau_den;
    margin: 0 auto;
}

.footer {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.subcribe {
    margin-top: -1px;
    margin-right: 1px;
    button {
        width: 156px;
        height: 39px;
        background-color: @mau_den;
        border: 2px solid #696969;
        margin-top: 141px;
        ion-icon {
            font-size: 20px;
            color: #d6ba8d;
            transform: translate(5px, 3px);
        } 
        span {
            font-size: 14px;
            letter-spacing: 2.4px;
            margin-left: -1px;
            line-height: 25px;
            color: #ababab;
            font-weight: 700;
            font-family: @chu_cung;
        }
    }
} 

.bar {
    font-size: 14px;
    letter-spacing: 1.55px;
    line-height: 24px;
    font-weight: 700;
    font-family: @chu_cung;
    max-width: 529px;
    width: 100%;
    margin: 0 auto;
    margin-left: 138px;
    display: flex;
    justify-content: space-between;
    margin-top: 149px;
    a {
        color: #ababab;
        &:hover {
            color: #d6ba8d;
        }
    }
}

.linelast {
    width: 1170px;
    height: 1px;
    background-color: #242424;
    margin: 0 auto;
}

.info {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 83px;
    padding-top: 25px;
}

.address {
    margin-top: 15px;
    font-size: 14px;
    line-height: 28px;
    color: #696969;
    font-weight: 400;
    font-family: @chu_cung;
    word-spacing: 0px;
}

.social-network {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 24px;
    filter: drop-shadow(-2.25px 9.744px 12px rgba(51,51,51,0.2));
    background-color: @mau_den;
    border: 2px solid #696969;
    color: #ababab;
    &:hover {
        background-color: #d6ba8d;
        color: @mau_den;
    }
}

.contact {
    margin-top: 3px;
    display: flex;
    max-width: 221px;
    justify-content: space-between;
    width: 100%;
}

.social-network i {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.footer-content {
    padding-top: 61px;
}
